[submodule "compiler/noelle"]
	path = compiler/noelle
	url = git@github.com:scampanoni/noelle.git
[submodule "compiler/z3"]
	path = compiler/z3
	url = git@github.com:Z3Prover/z3.git
[submodule "runtime/api/c++/fameta-counter"]
	path = runtime/api/c++/fameta-counter
	url = git@github.com:falemagn/fameta-counter.git
